h1 {
    color: red;
    font-weight: 700;
    text-align: center;
}

p {
    text-transform: capitalize;
}

.skills {
    display: grid;
    place-items: center;
}

.skills ul {
    list-style: none;
}

.skills ul li {
    border: 1px solid red;
    width: 200px;
    padding: 20px 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 8px blue;
}

a {
    color: red;
}